

<% @condos.each do |condo| %>

  <div class="booyah-box col-10 offset-1">
    <h1><%= condo.name %></h1><br />
    <h1><%= condo.description %></h1><br />
    <h1><%= condo.intersection %></h1><br />
    <h1><%= condo.address %></h1><br />
    <h1><%= condo.builder %></h1><br />
    <h1><%= condo.city %></h1><br />
  </div>

 

<% end %>